/* **************** GRIDS ***************** */
.line, .lastUnit {overflow: hidden;_overflow:visible;_zoom:1; }
.unit{float:left;_zoom:1;}
.unitExt{float:right;}
.size1of1{float:none;}

.size1of2{width:50%;}

.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}

.size1of4{width:25%;}
.size3of4{width:75%;}

.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}

.size1of6{width:16.66666%;}
.size5of6{width:83.33333%;}

.size1of7{width:14.285714285%;}
.size2of7{width:28.571428571%;}
.size3of7{width:42.857142857%;}
.size4of7{width:57.142857142%;}
.size5of7{width:71.428571428%;}
.size6of7{width:85.714285714%;}

.size1of8{width:12.5%;}
.size3of8{width:37.5%;}
.size5of8{width:62.5%;}
.size7of8{width:87.5%;}

.size1of9{width:11.111111111%;}
.size2of9{width:22.222222222%;}
.size3of9{width:33.333333333%;}
.size4of9{width:44.444444444%;}
.size5of9{width:55.555555555%;}
.size6of9{width:66.666666666%;}
.size7of9{width:77.777777777%;}
.size8of9{width:88.888888888%;}

.size1of10{width:10%;}
.size3of10{width:30%;}
.size7of10{width:70%;}
.size9of10{width:90%;}

.size1of12{width:8.333333333%;}
.size5of12{width:41.666666666%;}
.size7of12{width:58.333333333%;}
.size11of12{width:91.666666666%;}

.size1of16{width:6.25%;}
.size3of16{width:18.75%;}
.size5of16{width:31.25%;}
.size7of16{width:43.75%;}
.size9of16{width:56.25%;}
.size11of16{width:68.75%;}
.size13of16{width:81.25%;}
.size15of16{width:93.75%;}

.lastUnit {float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}
/* extending grids to allow a unit that takes the width of its content */
.media{width:auto;}